*,
*::after,
*::before { box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: tracking(16);
  line-height: 1.4;
  margin: 0;
}

p {
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

b,
strong {
}

i,
em {
}

blockquote {
}

code {
}

pre {
}

hr {
}

a {
}

ol {
}

ul {
}

dl {
}

dd {
}

dt {
}

li {
}

table {
}

th {
}

td {
}

tr {
}

button {
}

input {
}

textarea {
}

select {
}

fieldset {
}

form {
}

figure {
}

img {
}
